body{
  padding: 10px;
  text-align: center;
  background:rgba(0,0,0,.5);

  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#searchDiv{
  text-align: right;

  opacity: .9;
  margin-bottom: 10px;
}

#show{
  margin-top: 10px;
  background-color: white;
  text-align: left;
  font-size: 27px;
  color: rgba(100,10,10,.8);
  border: 10px  black;
  border-radius: 5px;
  width:90%;
  height: 500px;
  overflow: auto;
  padding: 20px;
  line-height: 40px;


}


input{
  margin:5px;
}


/*
// let search = document.createElement('input');
//   search.setAttribute('type', "submit");
//   search.setAttribute('value',"search");
// let textFild = document.createElement('input');
//   textFild.setAttribute('type', "text");
//   search.addEventListener('click', function(){
//   if(textFild.value == data[i].name ){
//     divBody.innerHTML =JSON.stringify(data[i]);
//   }else {
//       divBody.innerHTML ="not found";




// page.appendChild(textFild);
//   page.appendChild(search);
**/
